{% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>INTAKE | 인테이크</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main_page02.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/intake.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sns.css' %}">



{#이하로 삽입한 css, script#}

  <link rel="stylesheet" href="{% static 'images/jquery.bxslider.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

   <script>
    $(document).ready(function(){
      $('.slider').bxSlider({
        auto: true,
        speed: 500,
        pause: 2000,
        mode:'horizontal',
        infiniteLoop: true,
        autoHover: true,
        minSlides: 1,
        maxSlides: 1,
        pager: true,
        controls: true,
     });


    $('.subslider').bxSlider({
        slideWidth: 318,
        slideMargin: 2,
        auto: true,
        speed: 500,
        pause: 2000,
        mode:'horizontal',
        infiniteLoop: true,
        autoHover: true,
        minSlides: 4,
        maxSlides: 4,
        moveSlides: 3,
        pager: false,
        controls: true,
        nexttext: '>',
        prevText: '<',
        nextSelector: '#slider-next',
        prevSelector: '#slider-prev',
      });


        // controls=true가 좌우 버튼값이 보이게 하는게 맞는데
        // 이유는 모르겠고 그냥 안댐.ㅠㅠㅠㅠ 만약 된다면 nexttext prevtext로 적용할수 있는건지도 모르겠음잘....


    $('#mainslide').bxSlider({
      nextSelector: '#slider-next',
      prevSelector: '#slider-prev',
      nextText: '<img src="iimages/lightarrow.png" %}" />',
      prevText: '<img src="iimages/leftarrow.png" %}" />'    });


   $(function() {
   $(window).scroll(function() {
   var top = $(window).scrollTop();
   $(".quickbar").animate({"top" : top + 100 + "px"}, 100);
  });
  $(".quickbar").click(function() { $("html,body").animate({scrollTop:0}, 10); });
 });
 });

</script>
</head>

<body>
   <!-- 위 3줄 + nav_bar -->
  <nav class="head">
     <div class="menu_bar">
      <ul>
        <li>About INTAKE</li>
        <li>Magazine</li>
        <li>Lab</li>
        <li>Best</li>
      </ul>
       <a href="#">
        <div class="menu_bar_logo"><div class="helper"></div><img src="{% static 'images/logo.png' %}" width="80"></div>
      </a>
       <!--검색창-->
       <!--검색창-->
      <div class="search">
        <div>
          <form action="">        <!--get으로 받을 예정-->
            <input class="search_content" type="search" name="search" placeholder="검색어를 입력하세요.">
            <input class="search_btn" type="submit" value="SEARCH">
          </form>
        </div>
       </div>
    </div>

    <nav>
      <div class="product_bar">
       <ul class="product_category">
         <li><img src="{% static 'images/menu.png' %}" height="100%"></li>
         <li><a href ="#" class="product_menu">밀스</a></li>
            <ul class="submenu">
              <li> <a href="#" class="product_submenu" id="submenu_first"><img src="{% static 'images/subimage01.jpg' %}" class="submenu_image"><p class="submenu_exp">밀스드링크</p></a></li>
              <li> <a href="#" class="product_submenu"><img src="{% static 'images/subimage02.jpg' %}" class="submenu_image"><p class="submenu_exp">밀스드링크</p></a></li>
              <li> <a href="#" class="product_submenu"><img src="{% static 'images/subimage03.jpg' %}" class="submenu_image"><p class="submenu_exp">밀스드링크</p></a></li>
              <li> <a href="#" class="product_submenu"><img src="{% static 'images/subimage04.jpg' %}" class="submenu_image"><p class="submenu_exp">밀스드링크</p></a></li>
              <li> <a href="#" class="product_submenu"><img src="{% static 'images/subimage05.jpg' %}" class="submenu_image"><p class="submenu_exp">밀스드링크</p> </a></li>
            </ul>
         <li><a href ="#" class="product_menu">아침간편식</a></li>
         <li><a href ="#" class="product_menu">한끼</a></li>
         <li><a href ="#" class="product_menu">간식/음료</a></li>
         <li><a href ="#" class="product_menu">서플리먼트</a></li>
         <li><a href ="#" class="product_menu">다이어트/스포츠</a></li>
         <li><a href ="#" class="product_menu">이벤트</a></li>
         <li><a href ="#" class="product_menu">고객센터</a></li>
       </ul>
      </div>
    </nav>
     <div class="nav_bar"></div>
  </div>
    <!-- section -->
  <div class="section">
     <!-- sectoon1 -->
    <div class="main_image">
      <ul class="slider" id="main_slide">
        <li><img src="{% static 'images/main01.jpg' %}" width="100%"></li>
         <li><img src="{% static 'images/main02.jpg' %}" width="100%"></li>
         <li><img src="{% static 'images/main03.jpg' %}" width="100%"></li>
      </ul>




    </div>
    <div class="product_introduction1">
      <div class="helper"></div> <div>
      <div>Do not eat, Do intake!</div>
      <div>식사를 연구하다, 인테이크</div>
      <div>인테이크는 현대인의 식사를 연구하고 솔루션을 제안합니다.</div>
      </div>
    </div>
     <!--그냥 이미지만 따온 부분-->
    <img class="help_img" src="{% static 'images/product_help_image.jpg' %}">
     <div class="product_introduction2">
      <div><span>INTAKE</span><span> </span><span style="font-weight: bold">MEAL</span></div>


      <div class="products">

        {#            이하로 subslider#}
       <div class="subslider">
{#              끝#}


  {#              상품1#}
            <a href="#">
                <div class="product">
                  <div>
                    <img src="{% static 'images/submenu.jpg' %}">
                  </div>
                  <div class="product_detail_contents">
                    <p>product1.product_name</p>
                    <span class="x">fo.product1.product_price_before 원</span><span>product1.product_price 원</span>
                  </div>
                </div>
            </a>


  {#            상품2#}


                <a href="#">
                      <div class="product">
                        <div>
                           <img src="{% static 'images/submenu02.jpg' %}">
                        </div>


                      <div class="product_detail_contents">
                        <p> product2.product_name </p>
                        <span class="x">product2.product_price_before 원</span><span> product2.product_price 원</span>
                        </div>
                      </div>
                </a>




  {#              상뭎3#}
           <a href="#">
                    <div class="product">
                      <div>
                        <img src="{% static 'images/submenu.jpg' %}">
                      </div>


                        <div class="product_detail_contents">
                        <p> product3.product_name </p>
                        <span class="x"> product3.product_price_before 원</span><span> product3.product_price 원</span>
                        </div>
                    </div>
          </a>



  {#              상품4#}
           <a href="#">
                      <div class="product">
                        <div>
                          <img src="{% static 'images/submenu02.jpg' %}">
                        </div>


                          <div class="product_detail_contents">
                          <p>product4.product_name </p>
                          <span class="x"> product4.product_price_before 원</span><span> product4.product_price 원</span>
                          </div>
                      </div>
          </a>
       </div>
      </div>





     <div class="event"></div>
      <!-- sectoon2 -->
    <div class="movie">
      <div>
        <span>INTAKE</span><span> </span><span style="font-weight: bold">MOVIE</span>
      </div>
      <div style="background-color: orange; height: 500px"></div>
    </div>



{#기존에 있던 하단 클래스 2개 삭제. 이하로 삽입#}
       {#기존 홈페이지 값 width: 340px, 	height:216px;기 때문에 해당 박스는 height width값 지정해서 만들어짐#}


    <br><br><br><br>
    <div>
      <div class="notice">
        <h3 class="notice_title"><b>NOTICE</b></h3>
        <ul class="notice_list_style">
          <li><div class="notice_list">18년 8월 인테이크 회원 구매 금액별 혜택</div><p class="notice_date">2018.08.03</p></li>
          <li><div class="notice_list">고객센터 운영시간 변경안내</div><p class="notice_date">2018.07.16</p></li>
          <li><div class="notice_list">3rd notice</div><p class="notice_date">2018.22.23</p></li>
          <li><div class="notice_list">4th notice-shipping</div><p class="notice_date">2018.08.22</p></li>
          <li><div class="notice_list"> 5th notice-bonus</div><p class="notice_date">2014.02.33</p></li>
        </ul>
      </div>

      <div class="magazine">
       <h3 class="magazine_title"><b>MAGAZINE</b></h3>
        <img src="{% static 'images/magazine01.jpg' %}" class="magazine_image">
       <p class="magazine_text"> 맛있는 카스테라<br>
       <br><br><p class="magazine_sentence">정말 맛있겠다!</p></div>
      </div>

      <div class="cscenter">
        <h3 class="cscenter_title"><b>CS CENTER</b></h3>
        <h1 class="cscenter_number"><b>1644-1567</b></h1>
        {#         p 2줄=한세트라고 읽어줘야함!#}
        <p class="cscenter_menu_title">운영시간</p>
        <p class="cscenter_menu_content">09:30 ~ 18:00</p>

        <p class="cscenter_menu_title">이메일</p>
        <p class="cscenter_menu_content">cs@intakefoods.kr</p>

        <p class="cscenter_menu_title">점심시간</p>
        <p class="cscenter_menu_content">09:30 ~ 18:00</p>

        <p class="cscenter_menu_title">카카오톡</p>
        <p class="cscenter_menu_content">@intakefoods</p>

        <p class="cscenter_holiday">토, 일, 공휴일 휴무</p>
      </div>
    </div>



{#    인스타피드#}
    <br><br>
    <div>
        <p class="instagram_intake">INTAKE&nbsp;<b>INSTAGRAM</b></p>
        <img src="{% static 'images/instagram_icon.png' %}" class="instagram_image">
    </div>

    <div>
    <ul class="insta_image">
      <div class="list_one"
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta01.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta02.jpg' %}" class="insta_list_image" ></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta03.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta04.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta05.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta06.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta07.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta08.jpg' %}" class="insta_list_image"></a></li>
      </div>

      <div class="list_two">
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta01.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta02.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta03.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta04.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta05.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta06.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta07.jpg' %}" class="insta_list_image"></a></li>
      <li class="insta_image_list"><a href="https://www.instagram.com/p/Bmczxa9BvVO/"><img src="{% static 'images/insta08.jpg' %}" class="insta_list_image"></a></li>
      </div>


    </div>
    </ul>











{#이하로 비활성 js, 이미지 로드가 안됨;#}
{##}
{#<div>#}
{#<script type="text/javascript" src={% static 'images/instafeed.min.js' %}></script>#}
{#<script type="text/javascript"><script>#}
{#(function($){#}
{#        var feed = new Instafeed({#}
{#            get: 'user',#}
{#            userId: '1966660817',#}
{#            clientId: '6a581d04588941b6a29db362403425ad',#}
{#            accessToken: '1966660817.6a581d0.c300eed3bdbc46fb9427f43bbbd26865',#}
{#            template: '<a href="{{link}}" target="_blank" class="instagram_link"><img src="{{image}}"/></a>',#}
{#            sortBy: 'most-recent',#}
{#            limit: 16,#}
{#            resolution: "thumbnail"#}
{#        });#}
{#        feed.run();#}
{#    })(jQuery)#}
{#</script>#}
{##}
{#  <div id="instafeed"></div>#}








{#    이하로 삽입한 quickbar#}


    <div class="quickbar">
    <a href="#" class="quickbar_menu"><img src="{% static 'images/quick01.jpg' %}"></a>
    <a href="#" class="quickbar_menu"><img src="{% static 'images/quick02.png' %}"></a>
    <a href="#" class="quickbar_text"> &nbsp;&nbsp;장바구니</a>
    <a href="#" class="quickbar_menu"><img src="{% static 'images/quick03.jpg' %}"></a>
    <a href="#" class="quickbar_menu"><img src="{% static 'images/quick04.png' %}"></a>
    </div>



</body>
</html>
