{% extends "base.html" %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login_form.css' %}">

  <!--relation_var-->
  <div class="relation_bar">
    <div>
      <span><a href="#">Home</a></span>
      <span>  >  </span>
      <span><a href="#">로그인</a></span>
    </div>
  </div>


  <div class="">
    <table>
      <form action="" method="POST">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <input type="submit"/>
      </form>
    </table>
  </div>


{% endblock %}
