/*전체*/
*, html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {

}

a {
  text-decoration: none;
  color: #000;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/*위 3줄 + nav_bar*/
.head {

}

/*첫 줄*/
.login_bar {
  font-size: 6px;
  color: #58595B;
  height: 20px;
  line-height: 20px;
  border-bottom: #58595B .1px solid;
  padding: 0 15%;
}

.login_bar ul {
  float: right;
  display: inline-block;
}

.login_bar li {
  display: inline;
  margin-left: 8px;
}

.login_bar li:hover {
  color: black;
  font-weight: bolder;
}

.login_bar form {
  display: inline;
}

.login_bar button:hover {
  color: black;
  font-weight: bolder;
}

.login_bar button {
  border: none;
  background-color: white;
  font-size: 6px;
  padding: 0;
}



/*둘째 줄*/
.menu_bar{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  height: 40px;
  border-bottom: #58595B .1px solid;
}

.menu_bar ul {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 12px;
}

.menu_bar ul li {
  display: inline;
  margin-right: 10px;
}


.menu_bar_logo {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  height: 40px;
}

.menu_bar_logo img {
  vertical-align: middle;
}

.search {
  flex-grow: 1;
  flex-basis: 0;
}

.search > div {
  float: right;
}

.search_content {
  background-color: #f8f8f8;
  border: #DCDCDC .1px solid;
  height: 24px;
  width: 170px;
  font-size: 8px;
  padding: 5px 0px 5px 5px;
}

.search_btn {
  background-color: white;
  border: none;
  margin-left: 5px;
  font-size: 8px;
  font-weight: bold;
}


/*셋째 줄*/
.product_bar {
  background-color: orange;
  height: 30px;
}

.product_category {
  margin: 0 15%;
  border-bottom: black 2px solid;
  height: 100%;
}

/*footer*/
.footer_bar {

}

.company_introduction {

}
