{% extends "base.html" %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/category.css' %}">

  <!--relation_var-->
  {% if category %}
  <div class="relation_bar">
    <div>
      <span><a href="{% url "main_app:main_page" %}">Home</a></span>
      <span>  >  </span>
      <span><a href="{% url "main_app:category_main" %}">Category</a></span>
      <span>  >  </span>
      <span><a href="#">{{ category }}</a></span>
    </div>
  </div>
  {% endif %}

  <!--category-title-->
  <div class="category_title">
    {% if category %}
      <div><b>{{ category }}</b></div>
      <div>
{#        <form action="" method="GET">#}
{#          <input name="sort" list="order" placeholder="{{ sort_option }}">#}
{#            <datalist id="order">#}
{#            <option value="최신 상품순">#}
{#            <option value="댓글 수">#}
{#            <option value="상품평순">#}
{#            <option value="낮은 가격순">#}
{#            <option value="높은 가격순">#}
{#            </datalist>#}
{#        </form>        #}
        <form action="" method="GET">
          <select name="sort" id="option" onchange="this.form.submit()">
            <option value="최신 상품순">최신 상품순</option>
            <option value="댓글 수">댓글 수</option>
            <option value="상품평순">상품평순</option>
            <option value="낮은 가격순">낮은 가격순</option>
            <option value="높은 가격순">높은 가격순</option>
          </select>
          <noscript><input type="submit" value="Submit"></noscript>
        </form>
      </div>
    {% else %}
      <div style="margin-top: 50px"><b style="color: orange">"{{ search_term }}"</b>의 검색 결과</div><div></div>
    {% endif %}
  </div>

    <div class="products">
      {% for product in products %}
        <a href="{% url "main_app:product" pk=product.pk %}">
          <div class="product">
            <div>
              <img src="{{ product.product_image.url }}">
            </div>
            <div>
              <div class="product_detail_contents">
              <p>{{ product.product_name }}</p>
              <span class="x">{{ product.product_price_before }}원</span><span>{{ product.product_price }}원</span>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>


{% endblock %}