{% extends "base.html" %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/main_page.css' %}">

   <!-- section -->
  <div class="section">
     <!-- sectoon1 -->
    <div class="main_image"><img src="{% static 'main_app/images/main1.jpg' %}" height="100%"></div>
    <div class="product_introduction1">
      <div class="helper"></div> <div>
      <div>Do not eat, Do intake!</div>
      <div>식사를 연구하다, 인테이크</div>
      <div>인테이크는 현대인의 식사를 연구하고 솔루션을 제안합니다.</div>
      </div>
    </div>

    <!--그냥 이미지만 따온 부분-->
    <img class="help_img" src="{% static 'main_app/images/product_help_image.jpg' %}">

    <div class="product_introduction2">
      <div><span>INTAKE</span><span> </span><span style="font-weight: bold">MEAL</span></div>

      <div class="products">
        <div class="product">
          <div>
            <img src="{% static 'main_app/images/product1.jpg' %}">
          </div>
          <div>
            <div class="product_detail_contents">
            <p>밀스 라이트 로얄밀크티 *7개입</p>
            <span class="x">17,500원</span><span>16,000원</span>
            </div>
          </div>
        </div>

        <div class="product">
          <div>
            <img src="{% static 'main_app/images/product2.jpg' %}">
          </div>
          <div>
            <div class="product_detail_contents">
            <p>밀스 라이트 로얄밀크티 *7개입</p>
            <span class="x">17,500원</span><span>16,000원</span>
            </div>
          </div>
        </div>

        <div class="product">
          <div>
            <img src="{% static 'main_app/images/product3.jpg' %}">
          </div>
          <div>
            <div class="product_detail_contents">
            <p>밀스 라이트 로얄밀크티 *7개입</p>
            <span class="x">17,500원</span><span>16,000원</span>
            </div>
          </div>
        </div>

        <div class="product">
          <div>
            <img src="{% static 'main_app/images/product4.jpg' %}">
          </div>
          <div>
            <div class="product_detail_contents">
            <p>밀스 라이트 로얄밀크티 *7개입</p>
            <span class="x">17,500원</span><span>16,000원</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="event"></div>

     <!-- sectoon2 -->
    <div class="movie">
      <div>
        <span>INTAKE</span><span> </span><span style="font-weight: bold">MOVIE</span>
      </div>
      <div style="background-color: orange; height: 500px"></div>
    </div>

    <div class="notice_magazine_cs-center"></div>
    <div class="instagram"></div>
  </div>

{% endblock %}