{% extends "base.html" %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/main_page.css' %}">

   <!-- section -->
  <div class="section">
     <!-- sectoon1 -->
    <div class="main_image">
      <ul class="slider" id="main_slide">
        <li><img src="{% static 'images/main01.jpg' %}" width="100%"></li>
        <li><img src="{% static 'images/main02.jpg' %}" width="100%"></li>
        <li><img src="{% static 'images/main03.jpg' %}" width="100%"></li>
      </ul>
    </div>
    <div class="product_introduction1">
      <div class="helper"></div> <div>
      <div>Do not eat, Do intake!</div>
      <div>식사를 연구하다, 인테이크</div>
      <div>인테이크는 현대인의 식사를 연구하고 솔루션을 제안합니다.</div>
      </div>
    </div>

    <!--그냥 이미지만 따온 부분-->
    <img class="help_img" src="{% static 'main_app/images/product_help_image.jpg' %}">

    <div class="product_introduction2">
      <div><span>INTAKE</span><span> </span><span style="font-weight: bold">MEAL</span></div>
      <div class="products">
        <div class="subslider">
          {% for product in products %}
             <a href="{% url "main_app:product" pk=product.pk %}">
              <div class="product">
                <div>
                  <img src="{{ product.product_image.url }}">
                </div>
                <div>
                  <div class="product_detail_contents">
                  <p>{{ product.product_name }}</p>
                  <span class="x">{{ product.product_price_before }}원</span><span>{{ product.product_price }}원</span>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="event"></div>

     <!-- sectoon2 -->
    <div class="movie">
      <div>
        <span>INTAKE</span><span> </span><span style="font-weight: bold">MOVIE</span>
      </div>
      <div style="background-color: orange; height: 500px"></div>
    </div>

       <!-- notice -->

  </div>

     <!-- quickbar -->
    <div class="quickbar">
      <a href="#" class="quickbar_menu"><img src="{% static 'images/quick01.jpg' %}"></a>
      <a href="#" class="quickbar_menu"><img src="{% static 'images/quick02.png' %}"></a>
      <a href="#" class="quickbar_text"></a>
      <a href="#" class="quickbar_menu"><img src="{% static 'images/quick03.jpg' %}"></a>
      <a href="#" class="quickbar_menu"><img src="{% static 'images/quick04.png' %}"></a>
    </div>

{% endblock %}