{% extends "base.html" %}

{% block content %}
{#{% load static %}#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/product_detail.css' %}">#}
{##}
{#  <h4> HOME > MEALS > MEALS DRINK</h4>#}
{##}
{#	<div>#}
{#	<p class="imgset">#}
{#	<img src="{% static 'main_app/images/IMAGE1.jpg' %}" class="img1">#}
{#	<img src="{% static 'main_app/images/IMAGE2.jpg' %}" class="img2">#}
{#	<img src="{% static 'main_app/images/IMAGE3.jpg' %}" class="img3">#}
{#	<img src="{% static 'main_app/images/IMAGE4.jpg' %}" class="img4">#}
{#	<img src="{% static 'main_app/images/IMAGE4.jpg' %}" class="line">#}
{##}
{#	<p class="textset">#}
{#		<u>인테이크 </u></p><br>#}
{#		<h1 class="inorder">밀스드링크*1개</h1>#}
{#		<ul class="intro">#}
{#			<li><span class = "headd">정가</span>#}
{#			<s>3000원</s>       <font color = white; background-color = red;> 33%할인</font></li><hr class="divide">#}
{##}
{##}
{#			<li><span class = "headd">인테이크 판매가 </span>#}
{#			2000원</li><hr class="divide">#}
{##}
{##}
{#			<li><span class = "headd">배송구분</span>#}
{#			배송비 2,500원(30000원 이상 무료배송)</li>#}
{#			<hr class="divide">#}
{##}
{##}
{#			<li><span class = "headd">옵션선택#}
{#			 </span>#}
{#			<input list="order" class="quantity">#}
{#			<datalist id="order">#}
{#	 		<option value="밀스드링크*1개입">#}
{#	 		<option value="밀스드링크*12개입">#}
{#	 		<option value="밀스들이크*24개입">#}
{#	 		</datalist>#}
{#			</li><hr class="divide">#}
{##}
{##}
{#			<li><span class = "orderr">밀스드링크*1개입</span>#}
{#			 img - = x</li><hr class="divide">#}
{##}
{##}
{#			<li class="orderr">총 금액#}
{#			</li><font color = orange><b>2000원</b></font><hr class="divide">#}
{##}
{##}
{#		<p class ="inorder"><font color= orange><b>3</b></font>시간 안에 주문시 <b>발송예정일: 오늘</b></p>#}
{##}
{#		<p class="imgset2">#}
{#    <img src="{% static 'main_app/images/IMAGE5.jpg' %}" class="buyorcart">#}
{#    <img src="{% static 'main_app/images/IMAGE6.jpg' %}" class="buyorcart">#}
{#    <img src="{% static 'main_app/images/facebook.jpg' %}" class="sns1">#}
{#    <img src="{% static 'main_app/images/facebook.jpg' %}" class="line2">#}
{#    <img src="{% static 'main_app/images/twitter.jpg' %}" class="sns2">#}
{#		</p>#}
{#    </ul>#}
{#	</div>#}
{##}
{#<!--section1-->#}
{##}
{#		<h4 class="menui">상품 정보</h4>#}
{#		<h4 class="menui">구매후기</h4>#}
{#		<h4 class="menui">Q&A</h4>#}
{#		<hr class="divide02">#}
{##}
{#			<p class="firstlow"><br><br>이 상품에는 총 <font color= orange>73개</font>의 구매 고객 후기가 있습니다.</p>#}
{#			<p class="secondlow">평균 만족도는 <font color= orange>1</font>이고 만족도 비율은 다음과 같습니다. </p>#}
{#			<p class="thirdlow">매우 만족 <font color= orange>2</font>, 만족, 보통, 불만족의 비율입니다.</p>#}
{#			<p class="review">#}
{#			<font color=orange>후기 살펴보기</font>#}
{#      </p>#}

{% endblock %}