h4 {
	font-weight: 200;
	margin-left: 80px;}
	/*20말고 정해진 마진 넣으면 될듯 ??*/




div{
	background-color: gray;
	background-color: rgba( 250, 249, 249, 0.9 );
	width: 100%;
	display: inline;
	

}
/*왜인지 배경색 태그 안됨;*/
/*.imgset: hover{
	border: 1px solid orange;
}*/



.divide01{
	display: inline;
	float: left;
}



.img1{
	float: left;
	margin-top: 30px;
	margin-left: 80px;
	position: relative;
	border: 1px solid lightgray;

}

.img2{
	float: left;
	position: absolute;
	margin-left: 10px;
	margin-top: 30px;
	border: 1px solid lightgray;
}
.img3{
	position: absolute;
	margin-left: 10px;
	margin-top: 150px;
	border: 1px solid lightgray;
}
.img4{
	position: absolute;
	margin-left: 10px;
	margin-top: 270px;
	border: 1px solid lightgray;
}


.line{
	float:left;
	display: inline;
	position: absolute;
	width: 1px;
	height: 476px;
	margin-left: 170px;
	margin-top: 30px;
	background-color: lightgray;
}


.divide02{
	display: inline-block;
	background-color: orange;
	width: 100%;
	height: 100%;
}
