body{
	padding: 0 15%;
	width: 70%;
}

.headb{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 40px;
	/*인테이크 회원가입 패딩, 조절*/
}

.firstinfo{
	text-align: center;
	list-style-type: square;
	border-top: 3px solid black;
	padding-top: 15px;
}

.gray{
	color: gray;
	display: inline;
	padding: 0 20px;
}


.black{
	color:black;
	display: inline;
	padding: 0 20px;
}

.secondinfo{
	text-align: center;
	border-top: 3px solid black;
	padding-top: 50px;
	padding-bottom: 45px;
	font-weight: lighter;
	/*폰트가 왜 안 연해질까요??*/
}


.item{
	width: 120px;
	border-right: 1px solid lightgray;
}



table{
	border-collapse: collapse;
	width: 100%;
	border-top: 3px solid black;
}


td{
	background-color:rgba( 250, 249, 249, 0.9 );
	font-size: 13px;
	border-bottom: 1px solid lightgray;
	padding: 10px 40px;
	height: 40px;
}
td:nth-child(2n){
	background-color: transparent;	
}

.longg{
	width: 100%;
}

.lastItem{
	width: 120px;
	border-right: 1px solid lightgray;
	height: 150px;
}

.longgN{
	width: 100%;
	height: 140px;
}

.privacy{
	border: 1px solid lightgray;
	width: 100%;
	height: 230px;
	overflow: auto;
	/*원래 오토설정 없이도 스크롤이 생겨야하는게 아닌지,(크기 설정했는데)
	 크기설정했는데 오토 없이는 스크롤이 안생기고 높이 230초과함*/
	background-color: rgba( 250, 249, 249, 0.9 );
}
/*이미지는 왜인지 체크된서류모양이 로딩이 안돼서 그냥 x사용함;*/

.agree{
	margin-top: 15px;
}

.checkk{
	color: orange;
	width: 200px;
	height: 30px;
	margin: auto;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	border: 1px solid orange;
}
