<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "notice/post_list.css" %}" />

</head>
<body>
<h3>공지사항</h3>

<div class="notice_tab">
  <ul>
    <li class="on">
      <a href="#">공지사항</a>
    </li>
    <li class="on">
      <a href="#">FAQ</a>
    </li>
    <li class="on">
      <a href="#">1:1문의</a>
    </li>
  </ul>
</div>

<ul>
<table class="table table-hover table-bordered">
  <thead>
    <div class="divhead">
      <tr class="notice_head">
        <th class="num">#</th>
        <th class="title">제목</th>
        <th class="date">날짜</th>

      </tr>
    </div>
  </thead>
    <tbody>
      {% for post in post_list %}
      <tr>
        <td class="textid">{{post.id}}</td>

        <div class="we">
          <td class="texttitle"><a href="{% url "notice:post_detail" pk=post.pk %}">
          {{post.title}}
          </a></td>
        </div>


        <td>{{post.updated_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>


</body>
</html>