/*전체*/
*, html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
}

/* relation_bar */
.relation_bar {
  height: 35px;
  padding: 0 15%;
}

.relation_bar > div {
  display: inline-block;
  line-height: 35px;
  vertical-align: middle;
	font-size: 10px;
  color: black;
}

