{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>INTAKE | 인테이크</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
  <!-- 위 3줄 + nav_bar -->
  <div class="head">
    <div class="login_bar">
      <ul>
        {% if not user.is_authenticated %}
          <li><a href="{% url "accounts:login" %}">Login</a></li>
{#          <li><a href="{% url "accounts:login" %}?next={{ request.path }}">Login</a></li>#}
          <li><a href="{% url "accounts:signup" %}">Join</a></li>
        {% else %}
          <li>
            <form class="logout_link" action="{% url "accounts:logout" %}" method="POST">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
{#          <li>#}
{#            <a href="{% url "accounts:logout" %}">Logout</a>#}
{#          </li>#}
          <li><a href="{% url "accounts:profile" %}">MYPAGE</a></li>
        {% endif %}
        <li><a href="#">Cart</a>Cart</li>
        <li><a href="#">Customer Center</a></li>
      </ul>
    </div>

    <div class="menu_bar">
      <ul>
        <li>About INTAKE</li>
        <li>Magazine</li>
        <li>Lab</li>
        <li>Best</li>
      </ul>

      <a href="{% url "main_app:main_page" %}">
        <div class="menu_bar_logo"><div class="helper"></div><img src="{% static 'images/logo.png' %}" width="80"></div>
      </a>

      <!--검색창-->
      <div class="search">
        <div>
          <form action="">        <!--get으로 받을 예정-->
            <input class="search_content" type="search" name="search" placeholder="검색어를 입력하세요.">
            <input class="search_btn" type="submit" value="SEARCH">
          </form>
        </div>

      </div>
    </div>

    <div class="product_bar">
      <div class="product_category"></div>
    </div>

    <div class="nav_bar"></div>
  </div>

  <div>
    {% block content %}
    {% endblock %}
  </div>

   <!-- footer -->
  <div class="footer_bar">
    <img src="{% static 'images/footer.jpg' %}" style="width: 100%;">
  </div>
  <div class="company_introduction"></div>

</body>
</html>